

#tabProfile{
    width: 33.1rem;
    height:38rem;
    background-color: white;
    margin:0 auto;
    border-radius: 1rem;
    
    font-family: Arial, Helvetica, sans-serif;
    position: relative;

}

#profileHeaderWrapper{
    display: flex;;
    justify-content: space-between;
    width:33.1rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
    box-sizing: border-box;
    font-size: 1.25rem;
    font-weight: 600;
    border-bottom: solid black 1px;
    align-items: center;
}
#quit{
    border:0;
    background-color:white;;
    border-radius: 1rem;
    padding:0.3rem;
    cursor: pointer;
}
#profileSetup{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;;

}
#profileSetup h3{
    margin:0;
    font-size: 1.25rem;
    margin-bottom: 0.75rem;;
}
#profileSetupContentText{
    margin-bottom: 0.7rem;;
    font-size: 0.875rem;
    color:#00000099
}
#profileSetupContentButton{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    font-size:1rem;
    border:0;
    border-radius: 0.85rem;;
    background-color: #0a66c2;
    color:white;
    font-weight: 600;
}
#manualSetup{
    font-size: 1.25rem;;
    font-weight: 600;
    padding-top: 0.3rem;;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.75rem;
}
#core{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
}
.subHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.description p{
    margin-bottom: 0;
    color:#00000099;
}
.sections{
    display: flex;
    flex-direction: column;
    color:#00000099;

}
.subsection{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;;
    width: 100%;
    border-bottom: solid rgba(0, 0, 0, 0.6) 1px;
    font-size: 0.875rem;
    cursor: pointer;
}
