#about{
    width: 100%;
    padding: 1rem;
    padding-top: 0.5rem;
    box-sizing: border-box;
    background-color: white;
    height: fit-content;
    min-height:15.5rem;
    border-radius: 1rem;
    
}
.edit{
    color:black;
    border-radius:2rem;
    padding: 0.5rem;;
    cursor: pointer;
}
.edit:hover{
    background-color: #00000025;

}
#aboutSkills{
    width:100%;
    background-color: white;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 0.8rem ;
    border:solid rgba(0, 0, 0, 0.094) 1px;
}
.sectionHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* #aboutHeading{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
    
} */
#aboutHeading h2{
    font-size: var(--large);
}
#aboutText{
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}
#aboutSkillsHeaderLeft{
    display: flex;
}
#aboutSkillsHeaderLeft h4{
    font-size: 1rem;
    margin: 0;
    margin-left: 0.4rem;

}

#aboutSkillsHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#about #topSkillsContainer{
    margin-top: 0.3rem;;
    padding-left: 1.8rem;
    display: flex;
    gap:0.3rem;
    
}
.topSkill{
    width:fit-content;
}
#aboutSkills{border: solid black 1px;}