#modal{
    display: flex; 
    position: fixed; 
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
#tab{
    width: 46.5rem;
    height:50rem;
    
    overflow: auto;
    border: solid black 1px;
    border-radius: 0.5rem;;
    
    border-radius: 1rem;;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;


}

.role{
    font-weight: 600;
}

#tab label{
    height: fit-content;;
    font-size: var(--med);;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;;
    justify-content: end;;
    gap:1rem;
    
}
#tab input,select{
    padding: 0.5rem;;
    padding-left: 1rem;;
    padding-right: 1rem;;
    border-radius: 0.5rem;;
    


    
}
#tab form{
    
    gap:2rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    font-size: 0.875rem;
    color:#00000099;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;;
    padding-bottom: 6rem;;
   
}
#formElement{
    gap:2rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    font-size: 0.875rem;
    color:#00000099;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;;
    padding-bottom: 6rem;;
}

#headerWrapper{
    display: flex;;
    justify-content: space-between;
    width:46.5rem;
    background-color: white;;
    box-sizing: border-box;
    font-size: 1.25rem;
    font-weight: 600;
    border-bottom: solid black 1px;
    align-items: center;
    height: fit-content;
    position: fixed;
    z-index: 100;
    top: 0;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;;
    
}
#header{
    padding:0.5rem;
}
#quit{
    border:0;
    background-color:white;;
    border-radius: 0.9rem;
    padding: 0.2rem;
}
#footer{
   
    position: fixed;
    top: 47.2rem;
    
    background-color: white;
    padding: 1rem;
    height: 4.6rem;
    box-sizing: border-box;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;;
    width:46.625rem;
    
    align-self: center;;
    border:solid #00000099 1px;

}
#save,#saveExp{
    padding-top:0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1.2rem;;
    font-size: 1rem;;
    margin-left: 40rem;;
    font-size: 1rem;
    border: 0;
    color:white;
    font-weight: 600;
    background-color: #0a66c2;
    cursor: pointer;
    
}

.modalSelect{
    display: flex;
    gap:1rem;
    justify-content: space-between;
    
}
.modalSelect label{
    display: flex;;
    align-self: end;;
}
#tab textarea{
    resize: vertical;
    min-height: 6rem;;
}